a {
    text-decoration: none;
    color: black;
}

.flex {
    display: flex;
}

.jf-center {
    justify-content: center;
}

.ai-center {
    align-items: center;
}

.fs40px {
    font-size: 40px;
}

.fs30px {
    font-size: 30px;
}

.fs20px {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

header {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.header-elem {
    display: flex;
    margin: 20px;
    height: 60px;
    width: 300px;
}

.header-elem p {
    margin: 5px;
    width: 60%;
}

.arrow-up, .arrow-down {
    position: fixed;
    right: 45px; /* Отступ от правого края */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Делает блок кругом */
    background-color: white;
    cursor: pointer; /* Указатель при наведении */
    width: 80px; /* Ширина блока */
    height: 80px; /* Высота блока */
}

.arrow-up {
    top: 300px; /* Отступ от верхнего края */
}

.arrow-down {
    top: 470px; /* Отступ от верхнего края (ниже первой стрелки) */
}

.arrow-up svg, .arrow-down svg {
    width: 100%;
    height: 100%;
}


.search-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 89%;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

#search-input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
}

#search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0056b3;
}

.projects-list {
    width: 90%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid green;
    align-items: flex-start;
    padding: 10px;
}

.projects-list div {
    display: flex;
    width: 95%;
    height: 100px;
    border: 1px solid blue;
    margin: 20px auto;
    align-items: center;
    justify-content: space-evenly;
}

.title-font {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.kanit-reg {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.kanit-bold {
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

