<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href='../static/style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="header-elem jf-center ai-center fs30px">
            <p align="center" class="title-font"><a href="/" class="underline-none">Все проекты</a></p>
        </div>
        <div class="header-elem  jf-center ai-center fs30px">
            <p align="center" class="title-font">
                <a href="/add" >
                    Добавить
                </a>
            </p>
        </div>
    </header>
    <hr>
    {% block content %}

    {% endblock %}
    <footer id="footer">

    </footer>
</body>
</html>