{% extends 'base.html' %}

{% block title %}Все проекты{% endblock %}

{% block content %}
    <div class="search-container">
        <div>
            <input type="text" id="search-input" placeholder="Название проекта">
            <button id="search-button">Поиск</button>
        </div>
        <div id="filter-all">
            <p class="kanit-bold filter-elem">Все</p>
        </div>
        <div id="filter-active">
            <p class="kanit-bold filter-elem">Активные</p>
        </div>
        <div id="filter-daily">
            <p class="kanit-bold filter-elem">Дэйлики</p>
        </div>
        <div id="filter-social">
            <p class="kanit-bold filter-elem">Социалки</p>
        </div>
        <div id="filter-testnets">
            <p class="kanit-bold filter-elem">Тестнеты</p>
        </div>
        <div id="filter-completed">
            <p class="kanit-bold filter-elem">Завершённые</p>
        </div>
    </div>
    <div class="arrow-up">
        <a href="#header">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
        </a>
    </div>
    <div class="arrow-down">
        <a href="#footer">
            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8m15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
            </svg>
        </a>
    </div>
    <div class="projects-list">
        <table class="projects-table kanit-reg">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th>Аирдроп</th>
                    <th>Дата входа</th>
                    <th>Cryptorank</th>
                    <th>Описание</th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
            <tr class="{{ 'highlight' if project.daily == 1 else '' }}">
                <td class="fs20px">
                    <p>
                        {{ project.id }}
                    </p>
                </td>
                <td class="fs20px">
                    <a href="{{ url_for('project_detail', project_name=project.name) }}">
                        {{ project.name }}
                    </a>
                </td>
                <td class="fs20px">
                    <p>
                        {{ project.type }}
                    </p>
                </td>
                <td class="fs20px">
                    <p>
                        {{ project.airdrop_status }}
                    </p>
                </td>
                <td class="fs20px">
                    <p>
                        {{ project.joining_date.strftime('%d.%m.%Y') if project.joining_date else 'Не указана' }}
                    </p>
                </td>
                <td class="fs20px">
                    <a href="{{ project.cryptorank_link }}" target="_blank">Ссылка</a>
                </td>
                <td>
                    <p>
                        {{ project.description }}
                    </p>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
