{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<div class="category">
    {% if project.is_active %}
        <p class="kanit-reg green_back">
            Активный
        </p>
    {% else %}
        <p class="kanit-reg red_back">
            Завершён
        </p>
    {% endif %}
    <p class="kanit-reg">
        Вход в проект: {{ project.joining_date.strftime('%d.%m.%Y') if project.joining_date else 'N/A' }}
    </p>
    {% if project.cryptorank_link %}
        <p class="kanit-reg">
            <a href="{{ project.cryptorank_link }}">Cryptorank</a>
        </p>
    {% endif %}
    {% if project.airdrop_status %}
        <p class="kanit-reg green_back">
            Аирдроп подтверждён
        </p>
    {% endif %}
    {% if project.daily %}
        <p class="kanit-reg">
            Дейлик
        </p>
    {% endif %}
    <p class="kanit-reg">
        {{ project.type }}
    </p>
</div>
<div class="container">
    <div class="project-detail-block">
        <p class="kanit-bold fs40px border-bot">Активности</p>
        <div class="border-green">
            <form action="{{ url_for('project_detail', project_name=project.name) }}" method="POST">
                <div class="form-group">
                    <input type="text" id="activity_name" name="activity_name" class="form-control" placeholder="Название">
                </div>
                <div class="form-group">
                    <input type="text" id="activity_link" name="activity_link" class="form-control" placeholder="Ссылка">
                </div>
                <div>
                    <button type="submit" class="btn-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
        {% for link in links %}
        <div class="border-green">
            <div class="border-green">
                <p>{{ link.activity_name }}</p>
            </div>
            <div class="border-green">
                <p>{{ link.activity_link }}</p>
            </div>
            <div class="border-green">
                <p>{{ link.creating_date }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="project-detail-block">
        <p class="kanit-bold fs40px border-bot">{{ project.name }}</p>
        <div class="border-green">
            {% if project.description %}
                <p class="kanit-reg">
                    {{ project.description }}
                </p>
            {% else %}
                <p class="kanit-reg">
                    У проекта <u>{{ project.name }}</u> нет описания
                </p>
            {% endif %}
        </div>
        <div class="border green">
            {% if project.thoughts %}
                <p class="kanit-reg">
                    {{ project.thoughts }}
                </p>
            {% else %}
                <p class="kanit-reg">
                    Мысли о проекте...
                </p>
            {% endif %}
        </div>
    </div>
    <div class="project-detail-block">
        <p class="kanit-bold fs40px border-bot">Вложения & Профит</p>
        <div class="moneyways border-green">
            <div id="profit">

            </div>
            <div id="invest">

            </div>
        </div>
    </div>
</div>
<div class="edit-buttons">
    <form action="{{ url_for('edit_project', project_name=project.name) }}" method="GET" id="projectForm">
        <button type="submit" class="btn-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"></path>
            </svg>
        </button>
    </form>
    <form action="{{ url_for('delete_project', project_name=project.name) }}" method="POST">
        <button type="submit" class="btn-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"></path>
            </svg>
        </button>
    </form>
</div>
{% endblock %}
